{% extends 'base.html' %}
{% load urlify %}

{% block head_title %}
{{ instance.title}} | {{ block.super }}
{% endblock head_title %}

{% block content %}


<section class="section is-paddingless-horizontal">
	<div class="container grid">
		<nav class="breadcrumb" aria-label="breadcrumbs">
			<ul>
				<li><a href="#">Home</a></li>
				<li class="is-active"><a href="#" aria-current="page">{{ instance.title }}</a></li>
			</ul>
		</nav>
	</div>
</section>



<section class="section is-paddingless-horizontal" style="padding-top: 0;">
	<div class="container grid">
		<article class="media center">
			<figure class="media-left">
				<figure class="image is-64x64">
					<img src="" alt="">
				</figure>
			</figure>
			<div class="media-content">
				<div class="content">
					<p>
						<strong>
							{% if instance.user.get_full_name %}
							  {{ instance.user.get_full_name }}
						  {% endif %}
						</strong>
						<a href="#">@user_juvas</a><br>
						<span class="has-text-grey">{{ instance.title }}<br>
							<time datetime="{{ instance.publish }}">{{ instance.publish }}</time> - {{ instance.read_time|time:"i" }} min read</span>
					</p>
				</div>
			</div>
		</article>


		<div class="section is-paddingless-horizontal">
			<h1 class="title is-2">{{ instance.title }}</h1>
			{% if instance.subtitle %}
				<h2 class="subtitle is-3"></h2>
			{% endif %}
		</div>

		<figure class="columns is-mobile is-variable is-0 is-marginless grid-xl">
			<div class="column">
				{% if instance.image %}
					<div class="image card">
						<img src="{{ instance.image.url }}" alt="">
					</div>
				{% endif %}
			</div>
		</figure>

		{% if instance.imagecaption %}
		<figcaption class="level">
			<small class="level-item has-text-grey">
				{{ instance.imagecaption }}
			</small>
		</figcaption>
		{% endif %}


		<div class="content is-medium notification">
			<p>{{ instance.content  | safe }}</p>
		</div>


	</div>
</section>

	<div>
		<form method="POST" action=".">
			{% csrf_token %}
			{{ form_content }}
			<input type="submit" value="comment">
		</form>
	</div>



	<h1 class="title is-2">Comments:</h1>                                                     <blockquote>
        {% for comment in comments %}
        <p>{{ comment.content }}</p>
        <footer>Via: {{ comment.user }} | {{ comment.created | timesince }} ago.
					<a href="{{ comment.get_absolute_url }}">Thread</a>
				</footer>


        {% for child_comment in comment.children %}
        <blockquote>
        <p>{{ child_comment.content }}</p>                                                        <footer>Via: {{ child_comment.user }} | {{ child_comment.created | timesince }} ag
o.</footer>
        </blockquote>
        {% endfor %}

      <form method="POST" action=".">                                                             {% csrf_token %}
      {{ form_content }}
      <input type="hidden" name="parent_id" value="comment.id">
      <input type="submit" value="reply">                                                     </form>
    {% endfor %}
    </blockquote>                                                                       

			<li><a href="https://www.facebook.com/sharer/sharer.php?u={{ request.build_absolute_uri }}">Share on Facebook</a></li>
		</ul>
		<li><a href="https://twitter.com/home?status={{ instance.content|truncatechars:80|urlify}}%20{{ request.build_absolute_uri }}">Share on Twitter</a></li>

 {% endblock content %}
